.projects-table-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.projects-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.projects-table th,
.projects-table td {
  padding: 8px;
  text-align: center;
  border: none;
}

.projects-table th {
  background-color: #ffcc00;
  color: black;
}

.projects-table tr:nth-child(even) {
  background-color: #3a3a3a;
}

.projects-table tr:hover {
  background-color: #4a4a4a;
}
